::selection {
    background: #ffce76;
    color: #222;
}

body {
    background-color: #171716;
    color: #f2f1ec;
}

a,
a:active,
a:focus {
    color: #6cb6ad;
}

.gh-meta p~p a:hover {
    color: #f8f8f3;
}

hr {
    border: 1px solid #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f8f8f3;
}

.sidebar {
    background-color: #1f1f1d;
    border: 1px solid #2d2d2a;
    color: #aba69a;
}

.sidebar-title {
    color: #f8f8f3;
}

.project-version {
    color: #8f8a7f;
}

.project-link a {
    color: #8f8a7f;
}

.project-link a:hover {
    color: #b7b1a4;
}

.sidebar-section-title {
    color: #918c81;
}

.sidebar-section-title:hover {
    background: #292927;
}

.with-arrow {
    fill: #918c81;
}

.sidebar-section-children-container {
    background: transparent;
}

.sidebar-section-children.active {
    background: #343430;
}

.sidebar-section-children a:hover {
    background: #2b2b28;
}

.sidebar-section-children a {
    color: #eceae3;
}

.navbar-container {
    background: rgba(23, 23, 22, 0.88);
}

.icon-button svg,
.navbar-item a {
    color: #b1ac9f;
    fill: #b1ac9f;
}

.font-size-tooltip .icon-button svg {
    fill: #fff;
}

.font-size-tooltip .icon-button.disabled {
    background: #999;
}

.icon-button:hover {
    background: #2c2c29;
}

.icon-button:active {
    background: #373733;
}

.navbar-item a:active {
    background-color: #232321;
    color: #d1cdc2;
}

.navbar-item:hover {
    background: #21211f;
}

.footer {
    background: #1f1f1d;
    color: #aba69a;
}

.toc-link {
    color: #807b71;
    font-size: 0.875rem;
    transition: color 0.3s;
}

.toc-link.is-active-link {
    color: #f8f8f3;
}

.has-anchor .link-anchor {
    color: #555;
}

.has-anchor .link-anchor:hover {
    color: #888;
}

.signature-attributes {
    color: #999387;
}

.ancestors {
    color: #908b80;
}

.ancestors a {
    color: #908b80 !important;
}

.important {
    color: #ff2706;
}

.type-signature {
    color: #6cb6ad;
}

.name,
.name>a {
    color: #f7f6f1;
}

.details {
    background: #1f1f1d;
    border: 1px solid #30302c;
    color: #f6f4ee;
}

.details .details-item-container + .details-item-container {
    border-top: 1px solid #30302c;
}

.prettyprint {
    background: #1f1f1d;
}

.member-item-container strong,
.method-member-container strong {
    color: #fff;
}

.pre-top-bar-container {
    background: #292927;
}

/* stylelint-disable */
.prettyprint.source,
.prettyprint code {
    background-color: #1f1f1d;
}

.pre-div {
    background-color: #1f1f1d;
}

/* stylelint-enable */
.hljs .hljs-ln-numbers {
    color: #777;
}

.hljs .selected {
    background: #363631;
}

.hljs .selected .hljs-ln-numbers {
    color: #eee;
}

table .name,
.params .name,
.props .name,
.name code {
    color: #f8f8f3;
}

table,
.params,
.props {
    background-color: #1f1f1d;
    border: 1px solid #30302c;
}

table td,
.params td,
.props td {
    background-color: transparent;
    border-top: 1px solid #30302c;
}

table thead th,
.params thead th,
.props thead th {
    background-color: #252522;
    border-bottom: 1px solid #30302c;
    color: #b4aea1;
}

table .params thead tr,
.params .params thead tr,
.props .props thead tr {
    background-color: #252522;
    color: #b4aea1;
}

.disabled {
    color: #989285;
}

.code-lang-name {
    color: #ff8a00;
}

.tooltip {
    background: #ffce76;
    color: #222;
}

blockquote {
    background: #20201e;
    color: #f5f3ed;
}

.search-container {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 1px 0 rgba(0, 0, 0, 0.1);
}

.icon-button.search-close-button svg {
    fill: #f8f8f9;
}

.search-container .wrapper {
    background: #1f1f1d;
}

.search-result-c {
    color: #666;
}

.search-box-c {
    fill: #33322f;
}

.search-input {
    background: #2b2b28;
    color: #f8f8f3;
}

.search-box-c svg {
    fill: #fff;
}

.search-result-item {
    background: #2a2a27;
}

.search-result-item:hover {
    background: #353531;
}

.search-result-item:active {
    background: #40403c;
}

.search-result-item-title {
    color: #fff;
}

.search-result-item-p {
    color: #9f9a8f;
}

.mobile-menu-icon-container .icon-button {
    background: #2a2a27;
}

.mobile-sidebar-container {
    background: rgba(23, 23, 22, 0.9);
}

.mobile-sidebar-wrapper {
    background: #1f1f1d;
}

.child-tutorial {
    border-color: #44413b;
    color: #f3f0e8;
}

.child-tutorial:hover {
    background: #252522;
}